<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link href="../static/css/styleEditProfile.css" th:href="@{/css/styleEditProfile.css}" rel="stylesheet">
</head>
<body>
<div id="mainmenuprofile">
    <ul>
        <li><a href="/find"> Find friends</a></li>
        <li><a href="/reqforme"> Requests for you</a></li>
        <li><a href="/"> My Profile </a></li>
        <li><a href="/friends"> My Friends </a></li>
        <li><a href="/edit"> Edit Profile</a></li>
        <li><a href="/logout"> Exit Profile </a></li>
    </ul>
</div>
<div class="container">
    <ul>
        <li><a href="/editName">editName</a></li>
        <li><a href="/editSurname">editSurname</a></li>
        <li><a href="/editCountry">editCountry</a></li>
        <li><a href="/editTown">editTown</a></li>
        <li><a href="/editDescription">editDescription</a></li>
        <li><a href="/editSex">editSex</a></li>
        <li><a href="/editDate">editDate</a></li>
        <li><a href="/editPhoto">editPhoto</a></li>
    </ul>
</div>

</body>
</html>