<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styleForgot.css" th:href="@{/css/styleForgot.css}" rel="stylesheet">
    <title>HobNob</title>
</head>
<body>
<div class="containerHB">
    <h >Forgot password</h>
</div>
<div class="container">
    <form method="post" th:action="@{/forgot}">
        <div>
            <p>
                Please enter your login for access recovery:
            </p>
        </div>
        <div class ="dws-input">
            <input type="email" name="email" placeholder="Login">
        </div>
        <div>
            <input class="dsw-submit-registration" type="submit" name="submit" value="Send E-mail" >
        </div>
    </form>
</div>
</body>
</html>